/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

$green: #28c23e;

@mixin button-link {
    font-size: 24px;
    padding: 12px 15px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: $green;
    color: #fff;
    transition: 200ms;

    &:hover {
        background-color: transparent;
        color: $green;
    }
}

body {
    font-family: "Roboto", sans-serif;
}

.wrapper {
    padding-top: 140px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    width: 100vw;
    height: 140px;
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.5);
    z-index: 100;

    &__menu {
        display: flex;
        justify-content: space-evenly;
    }

    &__item {
        margin: 0 15px;

        &.current {
            a {
                border-bottom: 5px solid $green;
            }
        }

        a {
            font-size: 24px;
            padding: 12px 15px;
            text-decoration: none;
            text-transform: uppercase;
            color: #000;
            transition: 200ms;

            &:hover {
                border-bottom: 5px solid $green;
            }
        }
    }
}

.main {
    background-color: #f9f9f9;
    box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);

    &_gallery {
        padding: 100px 10vw 65px 10vw;
    }
}

.landing-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 0 150px 0;
    text-align: center;
    background-repeat: no-repeat;
    background-position: left center, right center;

    &__title {
        font-size: 48px;
        letter-spacing: 2px;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__text {
        margin-top: 30px;
        font-size: 26px;
        font-weight: 300;
        line-height: 31.6px;
        max-width: 35ch;

        &_tagline {
            margin-top: 70px;
        }
    }

    &__link {
        @include button-link();

        margin-top: 50px;
    }
}

.footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px 10vw 100px 10vw;

    &__title {
        margin-bottom: 34px;
        font-size: 24px;
        font-weight: 500;
    }

    &__menu {
        padding-left: 12px;
    }

    &__item {
        margin-bottom: 20px;

        a {
            display: inline-block;
            font-size: 20px;
            font-weight: 300;
            color: #000;
            text-decoration: none;
            transition: 200ms;

            &:hover {
                color: $green;
            }
        }

        &_icon {
            display: inline-block;
            margin: 0 10px;

            svg {
                width: 40px;
                height: 40px;
                transition: 200ms;
            }

            &:hover {
                svg {
                    fill: $green;
                }
            }
        }
    }
}

.gallery-title {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

.gallery-nav {
    margin: 50px 0;
    border-radius: 10px;
    box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    &__item {
        flex-grow: 1;
        padding: 10px 0;
        text-align: center;
        background-color: #fff;
        transition: 200ms;

        a {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 20px;
            color: #000;
            transition: 200ms;
        }

        &:not(&:last-child) {
            border-right: 1px solid rgba(0, 0, 0, .1);
        }

        &:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        &:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        &:hover, &.current {
            background-color: $green;
             a{
                 color:#fff;
             }
        }
    }
}

.achievements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
        box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, .13);
        flex-grow: 1;
        margin-top: 80px;
        max-width: calc(50% - 80px);

        &:nth-child(2n) {
            margin-left: 80px;
        }
    }

    &__link {
        position: relative;
        display: block;
        text-decoration: none;
    }

    &__text {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        font-weight: 500;
        font-size: 20px;
        color: #fff;
        background-color: rgba($green, .9);
        opacity: 0;
        transition: 200ms;
        text-align: center;

        &:hover {
            opacity: 1;
        }
    }

    &__img {
        display: block;
        width: 100%
    }

    &__add-link-wrap {
        padding: 50px 0;
        text-align: center;
    }

    &__add-link {
        @include button-link();
        display: inline-block;
        margin: 0 auto;
    }
}

.achievement {
    display: flex;
    justify-content: space-evenly;

    &__text-block {
        margin-left: 80px;
    }

    &__preview {
        display: block;
        width: calc(50% - 80px);
        align-self: flex-start;
    }

    &__title {
        font-size: 36px;
        font-weight: 500;
    }

    &__description {
        margin-top: 30px;
        font-size: 30px;
        font-weight: 300;
        line-height: 36px;
    }

    &__links-wrap {
        display: flex;
        justify-content: space-around;
        margin-top: 200px;
    }

    &__link {
        @include button-link();

        display: inline-block;
    }
}
