{% extends 'base-generation.html' %} {% load static %}

{% block title %}
<title>Галерея</title>
{% endblock %}

{% block content %}
<h1 class="gallery__title">Галерея достижений</h1>

<nav class="gallery-nav">
    <ul class="gallery-nav__list">
        <li class="gallery-nav__item {% if request.GET.type == 'certificate' %}current{% endif %}"><a href="?type=certificate">Сертификаты</a></li>
        <li class="gallery-nav__item {% if request.GET.type == 'tourtaiment' %}current{% endif %}"><a href="?type=tourtaiment">Соревнования</a></li>
        <li class="gallery-nav__item {% if request.GET.type == 'work' %}current{% endif %}"><a href="?type=work">Стаж</a></li>
        <li class="gallery-nav__item {% if request.GET.type == 'project' %}current{% endif %}"><a href="?type=project">Проекты</a></li>
        <li class="gallery-nav__item {% if request.GET.type == 'hackaton' %}current{% endif %}"><a href="?type=hackaton">Хакатоны</a></li>
        <li class="gallery-nav__item {% if request.GET.type == 'course' %}current{% endif %}"><a href="?type=course">Курсы</a></li>
    </ul>
</nav>
<div class="gallery__count">
    Достижений в этой категории: {{achievementsListCount}}
</div>
<ul class="gallery">
    {% for achievement in achievementsList %}
    <li class="gallery__item">
        <a href="{% url 'gallery-item' pk=achievement.pk %}?type={{request.GET.type}}" class="gallery__link">
            <img src="{{achievement.preview.url}}" alt="" class="gallery__img">

            <p class="gallery__text">{{achievement.title}}</p>
        </a>
    </li>
    {% endfor %}
</ul>

<div class="gallery__add-link-wrap">
    <a href="{% url 'achievement-create' %}?type={{request.GET.type}}" class="gallery__add-link">Добавить</a>
</div>
{% endblock %}